<nav class="top-nav-bar">
  <a href="/">Homepage</a> | 
  <a href="/Treats">Treat List</a> | 
  <a href="/Flavors">Flavor List</a>
  
  @if (User.Identity.IsAuthenticated)
  {
    <p>Hello, @User.Identity.Name | </p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" value="Log out" />
    }
  }
  else
  {
    @Html.ActionLink("Login or Register", "Index", "Account")
  }
</nav>
